@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit-Regular";
  src: url("/assets/fonts/Outfit-Regular.otf");
}

@font-face {
  font-family: "Outfit-Bold";
  src: url("/assets/fonts/Outfit-Bold.otf");
}

@font-face {
  font-family: "Outfit-Semibold";
  src: url("/assets/fonts/Outfit-SemiBold.otf");
}

@font-face {
  font-family: "Outfit-Medium";
  src: url("/assets/fonts/Outfit-Medium.otf");
}

@font-face {
  font-family: "Outfit-Light";
  src: url("/assets/fonts/Outfit-Light.otf");
}

@font-face {
  font-family: "Priego-Semibold";
  src: url("/assets/fonts/Fontspring-DEMO-priego-semibold.otf");
}

@font-face {
  font-family: "Priego-Bold";
  src: url("/assets/fonts/Fontspring-DEMO-priego-bold.otf");
}

@font-face {
  font-family: "Priego-Regular";
  src: url("/assets/fonts/Fontspring-DEMO-priego-regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid;
}

.container {
  @apply mx-auto w-full;
  max-width: 1200px;
}

.img-fluid {
  @apply block w-full h-auto;
}

img {
  user-select: none;
}

.btn {
  @apply rounded-full py-2.5 px-6;
  font-size: 18px;
  line-height: 23px;
}

.special {
  font-family: Outfit-Bold;
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: 0.09rem;
}

.slash {
  @apply text-black;
  font-family: Outfit-Semibold;
  font-size: 1.5rem;
  line-height: 120%;
}

.faq-number {
  @apply text-light;
  font-family: Outfit-Regular;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -0.03rem;
}

.faq-content {
  @apply ml-11;
  .ques {
    @apply text-light;
    font-family: Priego-SemiBold;
    font-size: 2rem;
    line-height: normal;
  }
  .ans {
    @apply text-xl text-light pt-4;
    font-family: "Outfit-Regular";
  }
}

.scroll-stop {
  overflow: hidden;
}

.main-heading {
  text-align: center;
  font-family: Priego-Bold;
  font-size: 4.5rem;
  line-height: normal;
  letter-spacing: 0.09rem;
  color: #05041f;
}

.sub-content {
  @apply text-light;
  font-family: Outfit-Regular;
  font-size: 1.5rem;
  line-height: 2.1rem;
}

.description {
  font-family: Outfit-Regular;
  font-size: 1.125rem;
  line-height: 26px;
}

@media (max-width: 1399px) {
  .container {
    max-width: 1100px;
  }
  .main-heading {
    font-size: 64px;
  }
  .special {
    font-size: 64px;
  }
  .sub-content {
    font-size: 22px;
    line-height: 1.8rem;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 992px;
    @apply px-6;
  }
  .main-heading {
    font-size: 56px;
  }
  .special {
    font-size: 56px;
  }
  .sub-content {
    font-size: 20px;
    line-height: 1.5rem;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
    @apply px-4;
  }
  .main-heading {
    font-size: 48px;
  }
  .special {
    font-size: 48px;
  }
  .sub-content {
    font-size: 18px;
    line-height: 1.2rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 567px;
  }
  .main-heading {
    font-size: 40px;
  }
  .special {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .main-heading {
    font-size: 36px;
  }
  .special {
    font-size: 36px;
  }
  .sub-content {
    font-size: 16px;
    line-height: 1.2;
  }
}
