.navbar {
  @apply flex flex-row justify-between items-center mx-auto mt-8 px-10 py-4 relative rounded-2xl;
  box-shadow: 0px 4px 40px 0px #00000014;
}

.logo {
  @apply flex items-center gap-x-2;
}

.text {
  font-family: "Priego-Semibold";
}

.quicklinks {
  @apply flex gap-x-10 text-light leading-6;
  font-family: "Outfit-Regular", serif;
  font-size: 20px;
}

.nav-btn {
  @apply bg-primary rounded-full py-2.5 px-6;
  font-size: 18px;
  line-height: 23px;
  color: #05041f;
}

.middle .middle::before .middle::after {
  height: 10px;
  opacity: 1;
  display: block;
  position: absolute;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: #999999;
  text-decoration: none;
}

.hamburger {
  display: none;
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.material-icons {
  color: #ffc555;
}

.menu {
  position: fixed;
  transform: translateY(-110%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #ffffff;
  color: #999999;
  list-style: none;
  text-align: center;
}

.showMenu {
  transform: translateY(0);
}

@media (max-width: 992px) {
  .quicklinks {
    @apply hidden;
  }
  .nav-btn {
    @apply hidden;
  }
  .text {
    @apply hidden;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 786px) {
}

@media (max-width: 576px) {
}
