.hero {
  margin-top: 53px;
}

.hero-content {
  @apply grid grid-cols-12 gap-4 pt-6;
}

.left-hero {
  @apply col-span-5 flex flex-col justify-between;
}
.left-hero .sub-content {
  @apply relative z-10;
}

.left-bg {
  @apply bg-grey p-10 relative overflow-hidden;
  border-radius: 2.5rem;
}
.left-bg .bg {
  @apply absolute top-0 right-0 opacity-60;
  max-width: 318px;
}

.right-hero {
  @apply col-span-7 overflow-hidden;
  border-radius: 2.5rem;
}
.right-hero img {
  @apply rounded-[2.5rem] object-cover object-center;
  height: 100%;
}

.left-hero-heading {
  @apply tracking-wider font-normal leading-10 text-heading relative z-10;
  font-family: Priego-Regular;
  font-size: 2.5rem;
  padding-bottom: 50px;
  max-width: 248px;
}

.call-text {
  @apply leading-6  font-medium;
  font-family: Outfit-Medium;
  font-size: 18px;
}

.call-num {
  @apply font-semibold;
  font-family: Outfit-Semibold;
  font-size: 24px;
  line-height: 30px;
}

.callbar {
  @apply pl-10 py-5 mt-4 bg-primary rounded-l-[7.5rem] relative;
}

.call-icon {
  @apply absolute top-1/2  items-center rounded-full h-full justify-center flex bg-primary;
  border: 10px solid white;
  transform: translateY(-50%);
  width: 100px;
  right: -55px;
}

.dreams {
  margin-top: 100px;
}

.dreams-left {
  @apply col-span-8 py-10 pl-10;
}

.dreams-right {
  @apply col-span-4;
}

.dreams-wrapper {
  @apply bg-grey  rounded-[2.5rem] grid grid-cols-12 relative overflow-hidden;
}

.dreams-heading {
  @apply tracking-wider text-heading pb-6;
  font-family: Priego-Bold;
  font-size: 40px;
  line-height: 48px;
}

.choice {
  margin-top: 100px;
}

.choice-wrapper {
  @apply bg-black p-10 rounded-[2.5rem] relative;
}
.choice-wrapper .main-heading {
  @apply relative z-10 text-white;
  font-family: Priego-Bold;
}
.choice-wrapper .sub-content {
  @apply pt-6 text-center;
}

.choice-bg {
  @apply absolute left-0;
  top: -45px;
}

.cards {
  @apply p-6 rounded-3xl;
  background-color: rgba(246, 246, 246, 0.16);
  flex: 0 0 max(33.33% - 16px, 270px);
}

.card-wrapper {
  @apply flex  flex-wrap justify-center gap-6 pt-10;
}

.card-number {
  font-family: Outfit-Bold;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.card-heading {
  @apply pt-2 text-white;
  font-family: Priego-Regular;
  font-size: 24px;
  line-height: 26px;
}

.card-desc {
  @apply text-light pt-4;
  font-family: Outfit-Regular;
  font-size: 18px;
  line-height: 25px;
}

.enquire {
  margin-top: 100px;
}

.enquire-wrapper {
  @apply grid grid-cols-12 bg-grey rounded-[2.5rem] p-10 items-center relative;
}

.enquire-bg {
  @apply absolute bottom-0 left-0;
}

.enquire-left {
  @apply col-span-8;
}
.enquire-left .sub-content {
  @apply relative z-10;
}

.enquire-heading {
  @apply text-heading tracking-wider pb-6 relative z-10;
  font-family: Priego-Bold;
  font-size: 40px;
  line-height: 46px;
}

.enquire-right {
  @apply col-span-4 pl-14;
}

.enquire-btn {
  @apply bg-primary py-6 w-full rounded-2xl font-medium;
  font-family: Outfit-Regular;
}

.connect {
  margin-top: 100px;
}

.connect-wrapper {
  @apply bg-black p-10 rounded-[2.5rem] relative;
}
.connect-wrapper .main-heading {
  @apply text-white relative z-10;
  font-family: Priego-Bold;
}
.connect-wrapper .sub-content {
  @apply pt-6 text-center;
}

.shipping {
  @apply grid grid-cols-2 gap-6 pt-10;
}
.shipping .right {
  @apply px-6;
}

.air h1 {
  @apply font-bold text-white;
  font-family: Priego-Bold;
  font-size: 2.5rem;
  line-height: 120%;
}
.air .service {
  font-family: Outfit-Regular;
  font-size: 1.125rem;
  line-height: 140%;
  color: #ffffff;
  padding: 6px 0 16px 0;
}
.air .description {
  @apply text-light pb-12;
}

.sea h1 {
  @apply font-bold text-white;
  font-family: Priego-Bold;
  font-size: 2.5rem;
  line-height: 120%;
}
.sea .service {
  font-family: Outfit-Regular;
  font-size: 1.125rem;
  line-height: 140%;
  color: #ffffff;
  padding: 6px 0 16px 0;
}
.sea .description {
  @apply text-light;
}

.work {
  margin-top: 100px;
}

.work-wrapper {
  @apply bg-grey rounded-[2.5rem] p-10 flex flex-col;
}
.work-wrapper .main-heading {
  @apply text-heading;
}
.work-wrapper .sub-content {
  @apply text-center;
  margin: 22px 0 40px 0;
}

.workflow {
  @apply flex flex-wrap basis-1/3 relative;
  row-gap: 86px;
}
.workflow .line1 {
  @apply absolute;
  top: 49%;
  left: 102px;
}
.workflow .line2 {
  @apply absolute;
  top: 47%;
  left: 31%;
}
.workflow .line3 {
  @apply absolute;
  top: 46%;
  left: 52%;
}
.workflow .line4 {
  @apply absolute;
  top: 48%;
  right: 18%;
}
.workflow .line5 {
  @apply absolute;
  top: 48%;
  right: 12%;
}

.work-top-icons {
  @apply flex;
}

.work-bottom-icons {
  @apply flex;
  padding-top: 86px;
}

.work-text {
  font-family: Priego-Semibold;
  text-align: center;
  font-size: 1.5rem;
  line-height: 29px;
}

.icon1 {
  @apply flex flex-col justify-between relative;
  max-width: 200px;
  margin-right: 172px;
}
.icon1 .img {
  @apply mx-auto w-max;
}
.icon1 .outer-border {
  @apply absolute;
  bottom: -54px;
  left: 73px;
}

.icon3 {
  @apply flex flex-col justify-between relative;
  max-width: 230px;
  margin-right: 172px;
}
.icon3 .img {
  @apply mx-auto w-max;
}
.icon3 .outer-border {
  @apply absolute;
  bottom: -45px;
  right: 6px;
}

.icon5 {
  @apply flex flex-col justify-between relative;
  max-width: 200px;
}
.icon5 .img {
  @apply mx-auto w-max;
}
.icon5 .outer-border {
  @apply absolute;
  bottom: -45px;
  right: 34px;
}

.icon2 {
  @apply flex flex-col justify-between relative;
  max-width: 210px;
  margin-left: 140px;
}
.icon2 .img {
  @apply mx-auto w-max;
}
.icon2 .outer-border {
  @apply absolute top-0;
  right: -6px;
}

.icon4 {
  @apply flex flex-col justify-between relative;
  max-width: 250px;
  margin-left: 140px;
}
.icon4 .img {
  @apply mx-auto w-max;
}
.icon4 .outer-border {
  @apply absolute;
  top: 22px;
  right: 14px;
}

.icon6 {
  @apply flex flex-col justify-between relative;
  max-width: 280px;
  margin-left: 99px;
}
.icon6 .img {
  @apply mx-auto w-max;
}
.icon6 .outer-border {
  @apply absolute;
  top: 124px;
  left: 2px;
}

.outer-border {
  @apply rounded-full flex;
  outline: 2px solid #ffc555;
  height: 42px;
  width: 42px;
}

.num {
  @apply rounded-full bg-primary text-center flex justify-center items-center m-auto;
  font-family: Outfit-Semibold;
  font-size: 20px;
  line-height: 24px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}

.testimonial {
  margin-top: 100px;
}

.testimonial-wrapper {
  @apply bg-grey rounded-[2.5rem] p-10 relative overflow-hidden;
}
.testimonial-wrapper .bg-img {
  @apply absolute top-0 left-0;
}
.testimonial-wrapper .content-wrapper {
  @apply flex justify-between mt-16;
}
.testimonial-wrapper .content-wrapper .content {
  @apply text-light;
  font-family: Outfit-Regular;
  max-width: 956px;
  font-size: 2rem;
  line-height: 160%;
  letter-spacing: 0.04rem;
}
.testimonial-wrapper .content-wrapper .profile {
  @apply flex flex-col justify-between;
}
.testimonial-wrapper .content-wrapper .profile img {
  @apply mx-auto;
  max-width: 120px;
}
.testimonial-wrapper .content-wrapper .profile .button-wrapper {
  @apply flex justify-between;
}

.person-details {
  @apply flex;
}
.person-details .name {
  @apply text-primary ml-6;
  font-family: Priego-SemiBold;
  font-size: 2rem;
  letter-spacing: 0.04rem;
}
.person-details .location {
  @apply text-heading ml-6;
  font-family: Outfit-Regular;
  font-size: 1.25rem;
  letter-spacing: 0.025rem;
}

.clients {
  margin-top: 100px;
}

.clients-wrapper {
  @apply bg-black relative p-10 rounded-[2.5rem];
}
.clients-wrapper .bg {
  @apply absolute left-0;
  top: -45px;
}
.clients-wrapper .main-heading {
  @apply text-white relative z-10;
}
.clients-wrapper .sub-content {
  @apply text-center pt-6;
}
.clients-wrapper .gallery {
  @apply flex justify-center items-center gap-6 mt-10;
}

.faq {
  margin-top: 100px;
}
.faq .main-heading {
  @apply text-heading;
}
.faq .sub-content {
  @apply text-center;
}

.faq-wrapper {
  @apply bg-grey rounded-[2.5rem] p-10;
}

.question-wrapper {
  @apply p-10;
}
.question-wrapper .question {
  @apply flex justify-between;
}
.question-wrapper .arrow {
  max-width: 42px;
}

@media (max-width: 1399px) {
  .left-hero-heading {
    font-size: 36px;
  }
  .call-num {
    font-size: 22px;
  }
  .call-text {
    font-size: 16px;
  }
  .dreams-heading {
    font-size: 36px;
    line-height: 1.2;
  }
  .enquire-heading {
    font-size: 36px;
    line-height: 46px;
  }
  .air h1 {
    font-size: 36px;
  }
  .sea h1 {
    font-size: 36px;
  }
  .icon1 {
    margin-right: 120px;
  }
  .icon3 {
    margin-right: 120px;
  }
  .icon4 {
    margin-left: 80px;
  }
  .icon6 {
    margin-left: 60px;
  }
  .workflow .line5 {
    right: 14%;
  }
  .testimonial-wrapper .content-wrapper .content {
    max-width: 800px;
    font-size: 1.75rem;
  }
}
@media (max-width: 1199px) {
  .left-hero-heading {
    font-size: 32px;
    line-height: 1.2;
    max-width: 385px;
  }
  .dreams {
    margin-top: 80px;
  }
  .dreams-heading {
    font-size: 32px;
  }
  .choice {
    margin-top: 80px;
  }
  .card-heading {
    font-size: 20px;
  }
  .enquire {
    margin-top: 80px;
  }
  .enquire-heading {
    font-size: 32px;
  }
  .card-desc {
    font-size: 16px;
    line-height: 20px;
  }
  .connect {
    margin-top: 80px;
  }
  .air h1 {
    font-size: 32px;
  }
  .air .service {
    font-size: 1rem;
    padding: 6px 0 6px 0;
  }
  .air .description {
    @apply pb-6;
    font-size: 16px;
    line-height: 24px;
  }
  .sea h1 {
    font-size: 32px;
  }
  .sea .service {
    font-size: 1rem;
    padding: 6px 0 6px 0;
  }
  .sea .description {
    font-size: 16px;
    line-height: 24px;
  }
  .work {
    margin-top: 80px;
  }
  .work-top-icons {
    gap: 60px;
  }
  .work-text {
    font-size: 1rem;
    line-height: 24px;
  }
  .slash {
    font-size: 1rem;
  }
  .outer-border {
    height: 36px;
    width: 36px;
  }
  .num {
    font-size: 18px;
  }
  .icon1 {
    margin-right: 100px;
    max-width: 180px;
  }
  .icon1 .img {
    max-width: 180px;
  }
  .icon3 {
    margin-right: 100px;
    max-width: 180px;
  }
  .icon3 .img {
    max-width: 180px;
  }
  .icon5 {
    max-width: 180px;
  }
  .icon5 .img {
    max-width: 180px;
  }
  .icon5 .outer-border {
    bottom: -45px;
    right: 20px;
  }
  .icon2 {
    margin-left: 80px;
    max-width: 180px;
  }
  .icon2 .img {
    max-width: 180px;
  }
  .icon2 .outer-border {
    top: -22px;
    right: -24px;
  }
  .icon4 {
    margin-left: 120px;
    max-width: 180px;
  }
  .icon4 .img {
    max-width: 180px;
  }
  .icon4 .outer-border {
    top: 5px;
    right: -18px;
  }
  .icon6 {
    margin-left: 120px;
    max-width: 180px;
  }
  .icon6 .img {
    max-width: 180px;
  }
  .icon6 .outer-border {
    top: 130px;
    left: -35px;
  }
  .workflow .line1 {
    max-width: 160px;
  }
  .workflow .line2 {
    max-width: 160px;
  }
  .workflow .line3 {
    max-width: 100px;
    rotate: -6deg;
  }
  .workflow .line4 {
    max-width: 160px;
    top: 48%;
    right: 18%;
    rotate: -1deg;
  }
  .workflow .line5 {
    max-width: 180px;
    right: 11%;
  }
  .testimonial {
    margin-top: 80px;
  }
  .testimonial-wrapper .content-wrapper .content {
    max-width: 700px;
    font-size: 1.5rem;
  }
  .clients {
    margin-top: 80px;
  }
  .faq {
    margin-top: 80px;
  }
}
@media (max-width: 992px) {
  .left-hero {
    @apply col-span-12;
  }
  .left-hero .bg {
    max-width: 180px;
  }
  .left-hero .sub-content {
    max-width: 400px;
    line-height: 1.4;
  }
  .right-hero {
    @apply col-span-12;
  }
  .call-icon {
    right: 0;
  }
  .callbar {
    @apply rounded-r-[7.5rem] pl-8;
  }
  .card-number {
    font-size: 28px;
  }
  .cards {
    flex: 0 0 max(50% - 16px, 270px);
  }
  .dreams {
    margin-top: 64px;
  }
  .dreams-left {
    @apply col-span-9;
  }
  .dreams-right {
    @apply col-span-3;
  }
  .choice {
    margin-top: 64px;
  }
  .enquire {
    margin-top: 64px;
  }
  .enquire-heading {
    font-size: 28px;
    line-height: 46px;
  }
  .enquire-left {
    @apply col-span-12 text-center;
  }
  .enquire-bg {
    @apply bottom-2/4 left-0;
  }
  .enquire-right {
    @apply col-span-12 pl-0 pt-14  text-center;
  }
  .connect {
    margin-top: 64px;
  }
  .air h1 {
    font-size: 28px;
  }
  .sea h1 {
    font-size: 28px;
  }
  .shipping {
    @apply flex flex-col;
  }
  .work {
    margin-top: 64px;
  }
  .workflow {
    @apply flex-nowrap flex-col gap-y-0;
  }
  .work-text {
    font-size: 20px;
    line-height: 22px;
  }
  .line1 {
    @apply hidden;
  }
  .line2 {
    @apply hidden;
  }
  .line3 {
    @apply hidden;
  }
  .line4 {
    @apply hidden;
  }
  .line5 {
    @apply hidden;
  }
  .icon1 {
    @apply order-1 m-0 relative;
    max-width: 50%;
  }
  .icon1 .img {
    max-width: 160px;
  }
  .icon1 .outer-border {
    @apply top-2/4 left-full -translate-y-2/4;
  }
  .icon1 .work-text {
    margin: 0px 60px;
  }
  .icon2 {
    @apply order-2 ml-auto relative;
    max-width: 50%;
  }
  .icon2 .img {
    max-width: 160px;
  }
  .icon2 .outer-border {
    @apply top-2/4 right-full -translate-y-2/4;
  }
  .icon2 .work-text {
    margin: 0px 60px;
  }
  .icon3 {
    @apply order-3 m-0 relative;
    max-width: 50%;
  }
  .icon3 .img {
    max-width: 160px;
  }
  .icon3 .outer-border {
    @apply top-2/4 left-full -translate-y-2/4;
  }
  .icon3 .work-text {
    margin: 0px 60px;
  }
  .icon4 {
    @apply order-4 ml-auto relative;
    max-width: 50%;
  }
  .icon4 .img {
    max-width: 160px;
  }
  .icon4 .outer-border {
    @apply top-2/4 right-full -translate-y-2/4;
  }
  .icon4 .work-text {
    margin: 0px 60px;
  }
  .icon5 {
    @apply order-5 m-0 relative;
    max-width: 50%;
  }
  .icon5 .img {
    max-width: 160px;
  }
  .icon5 .outer-border {
    @apply top-2/4 left-full -translate-y-2/4;
  }
  .icon5 .work-text {
    margin: 0px 60px;
  }
  .icon6 {
    @apply order-6 ml-auto relative;
    max-width: 50%;
  }
  .icon6 .img {
    max-width: 160px;
  }
  .icon6 .outer-border {
    @apply top-2/4 right-full -translate-y-2/4;
  }
  .icon6 .work-text {
    margin: 0px 60px;
  }
  .testimonial {
    margin-top: 64px;
  }
  .testimonial-wrapper .content-wrapper {
    @apply flex-col;
  }
  .testimonial-wrapper .content-wrapper .content {
    max-width: 700px;
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .testimonial-wrapper .content-wrapper .profile {
    @apply mt-6;
  }
  .testimonial-wrapper .content-wrapper .profile .button-wrapper {
    @apply justify-center mt-4;
  }
  .clients {
    margin-top: 64px;
  }
  .faq {
    margin-top: 64px;
  }
}
@media (max-width: 768px) {
  .left-hero {
    @apply rounded-[2rem];
  }
  .left-hero .bg {
    max-width: 160px;
  }
  .left-bg {
    border-radius: 1.5rem;
  }
  .left-hero-heading {
    font-size: 28px;
    max-width: 295px;
  }
  .call-num {
    font-size: 18px;
  }
  .right-hero img {
    @apply rounded-[2rem];
  }
  .dreams {
    margin-top: 48px;
  }
  .dreams-wrapper {
    @apply rounded-[2rem] overflow-hidden;
  }
  .dreams-heading {
    font-size: 28px;
  }
  .dreams-left {
    @apply col-span-12 p-6;
  }
  .dreams-left .sub-content {
    @apply relative z-10;
  }
  .dreams-right {
    @apply absolute top-0 right-0 opacity-60;
    max-width: 270px;
  }
  .choice {
    margin-top: 48px;
  }
  .choice-wrapper {
    @apply p-6 rounded-[2rem];
  }
  .card-heading {
    font-size: 18px;
  }
  .cards {
    flex: 0 0 max(50% - 16px, 200px);
    padding: 1rem;
  }
  .card-desc {
    font-size: 14px;
    line-height: 18px;
  }
  .card-wrapper {
    gap: 1rem;
  }
  .enquire {
    margin-top: 48px;
  }
  .enquire-heading {
    font-size: 24px;
  }
  .enquire-wrapper {
    @apply p-6 rounded-[2rem];
  }
  .enquire-bg {
    bottom: 36%;
  }
  .enquire-btn {
    @apply py-4;
  }
  .shipping .right {
    @apply p-0;
  }
  .connect {
    margin-top: 48px;
  }
  .connect-wrapper {
    @apply p-6 rounded-[2rem];
  }
  .air h1 {
    font-size: 24px;
  }
  .sea h1 {
    font-size: 24px;
  }
  .work {
    margin-top: 48px;
  }
  .work-wrapper {
    @apply rounded-[2rem];
  }
  .testimonial {
    margin-top: 48px;
  }
  .testimonial-wrapper {
    @apply p-6 rounded-[1.5rem];
  }
  .testimonial-wrapper .content-wrapper {
    @apply mt-8;
  }
  .clients {
    margin-top: 48px;
  }
  .clients-wrapper {
    @apply p-6 rounded-[1.5rem];
  }
  .faq {
    margin-top: 48px;
  }
}
@media (max-width: 576px) {
  .left-hero {
    @apply rounded-[1.5rem];
  }
  .left-hero .bg {
    max-width: 140px;
  }
  .left-hero-heading {
    font-size: 24px;
    max-width: 350px;
    padding-bottom: 24px;
  }
  .left-bg {
    @apply p-6;
  }
  .right-hero img {
    @apply rounded-[1.5rem];
  }
  .callbar {
    @apply py-4;
  }
  .call-num {
    font-size: 18px;
  }
  .call-text {
    font-size: 14px;
  }
  .call-icon {
    width: 90px;
  }
  .dreams {
    margin-top: 40px;
  }
  .dreams-wrapper {
    @apply rounded-[1.5rem];
  }
  .dreams-heading {
    font-size: 24px;
  }
  .choice {
    margin-top: 40px;
  }
  .choice-wrapper {
    @apply p-6 rounded-[1.5rem];
  }
  .cards {
    flex: 0 0 100%;
  }
  .enquire {
    margin-top: 40px;
  }
  .enquire-wrapper {
    @apply rounded-[1.5rem];
  }
  .enquire-bg {
    max-width: 280px;
  }
  .enquire-heading {
    font-size: 24px;
    line-height: 26px;
  }
  .connect {
    margin-top: 40px;
  }
  .connect-wrapper {
    @apply rounded-[1.5rem];
  }
  .air h1 {
    font-size: 20px;
  }
  .sea h1 {
    font-size: 20px;
  }
  .work {
    margin-top: 40px;
  }
  .work-wrapper {
    @apply rounded-[1.5rem] p-6;
  }
  .work-wrapper .main-heading {
    font-size: 28px;
  }
  .testimonial {
    margin-top: 40px;
  }
  .testimonial-wrapper {
    @apply rounded-[1.5rem];
  }
  .testimonial-wrapper .content-wrapper .content {
    font-size: 1.125rem;
    line-height: 1.2;
  }
  .person-details .name {
    font-size: 1.5rem;
  }
  .clients {
    margin-top: 40px;
  }
  .clients-wrapper .gallery {
    @apply grid grid-cols-12 gap-4;
  }
  .clients-wrapper .gallery .left {
    @apply order-2 col-span-6;
  }
  .clients-wrapper .gallery .center {
    @apply order-1 col-span-12;
  }
  .clients-wrapper .gallery .right {
    @apply order-3 col-span-6;
  }
  .faq {
    margin-top: 40px;
  }
}/*# sourceMappingURL=index.css.map */