// hero-section starts
.hero {
  margin-top: 53px;
}

.hero-content {
  @apply grid grid-cols-12 gap-4 pt-6;
}

.left-hero {
  @apply relative col-span-5;

  .bg {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.left-bg {
  @apply bg-grey p-10 rounded-[2.5rem];
}

.right-hero {
  @apply col-span-7;

  img {
    @apply rounded-[2.5rem];
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
}
.left-hero-heading {
  @apply tracking-wider font-normal leading-10 text-heading;
  font-family: Priego-Regular;
  font-size: 2.5rem;
  padding-bottom: 50px;
  max-width: 248px;
}

.call-text {
  @apply leading-6  font-medium;
  font-family: Outfit-Medium;
  font-size: 18px;
}

.call-num {
  @apply font-semibold;
  font-family: Outfit-Semibold;
  font-size: 24px;
  line-height: 30px;
}

.callbar {
  @apply pl-10 py-5 mt-4 bg-primary rounded-l-[7.5rem] relative;
}

.call-icon {
  @apply absolute top-1/2 bottom-1/2  items-center rounded-full h-full justify-center flex bg-primary;
  border: 10px solid white;
  transform: translateY(-50%);
  width: 100px;
  right: -55px;
  img {
    width: 44px;
  }
}
// hero-section ends

// dreams section start
.dreams {
  margin-top: 100px;
}

.dreams-left {
  @apply col-span-8 py-10 pl-10;
}
.dreams-right {
  @apply col-span-4;
}
.dreams-wrapper {
  @apply bg-grey  rounded-[2.5rem] grid grid-cols-12 relative;
}
.dreams-heading {
  @apply tracking-wider text-heading pb-6;
  font-family: Priego-Bold;
  font-size: 40px;
  line-height: 48px;
}
// dreams section ends

// choice section starts
.choice {
  margin-top: 100px;
}
.choice-wrapper {
  @apply bg-black p-10 rounded-[2.5rem] relative;

  .main-heading {
    color: #ffffff;
    font-family: Priego-Bold;
  }
  .sub-content {
    padding-top: 24px;
    text-align: center;
  }
}

.choice-bg {
  position: absolute;
  top: -45px;
}
.cards {
  @apply p-6 rounded-3xl;
  background-color: rgba(246, 246, 246, 0.16);
  flex: 0 0 max(33.33% - 16px, 270px);
}

.card-wrapper {
  @apply flex  flex-wrap justify-center gap-6 pt-10;
}

.card-number {
  font-family: Outfit-Bold;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.card-heading {
  font-family: Priego-Regular;
  padding-top: 8px;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
}

.card-desc {
  @apply text-light pt-4;
  font-family: Outfit-Regular;
}
// choice section ends

//enquire section starts
.enquire {
  margin-top: 100px;
}
.enquire-wrapper {
  @apply grid grid-cols-12 bg-grey rounded-[2.5rem] p-10 items-center;
}
.enquire-bg {
  position: absolute;
  bottom: -25px;
  left: -38px;
  overflow: hidden;
}

.enquire-left {
  @apply col-span-8 relative;
}
.enquire-heading {
  @apply tracking-wider pb-6;
  font-family: Priego-Bold;
  font-size: 40px;
  line-height: 46px;
}
.enquire-right {
  @apply col-span-4 pl-14;
}
.enquire-btn {
  @apply bg-primary py-6 w-full rounded-2xl;
  font-family: Outfit-Regular;
  font-weight: 500;
}
//enquire section ends

// connect section starts
.connect {
  margin-top: 100px;
}
.connect-wrapper {
  @apply bg-black p-10 rounded-[2.5rem] relative;

  .main-heading {
    color: #ffffff;
    font-family: Priego-Bold;
  }
  .sub-content {
    padding-top: 24px;
    text-align: center;
  }
}
.shipping {
  @apply grid grid-cols-2 gap-6 pt-10;

  .right {
    @apply px-6;
  }
}
.air {
  h1 {
    font-family: Priego-Bold;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 120%;
    color: #ffffff;
  }
  .service {
    font-family: Outfit-Regular;
    font-size: 1.125rem;
    line-height: 140%;
    color: #ffffff;
    padding: 6px 0 16px 0;
  }
  .description {
    @apply text-light pb-12;
  }
}
.sea {
  h1 {
    font-family: Priego-Bold;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 120%;
    color: #ffffff;
  }
  .service {
    font-family: Outfit-Regular;
    font-size: 1.125rem;
    line-height: 140%;
    color: #ffffff;
    padding: 6px 0 16px 0;
  }
  .description {
    @apply text-light;
  }
}
// connect section ends

// how it woks starts
.work {
  margin-top: 100px;
}
.work-wrapper {
  @apply bg-grey rounded-[2.5rem] p-10;
  .main-heading {
    @apply text-heading;
  }
  .sub-content {
    @apply text-center p-6;
  }
}
.workflow {
  @apply pt-10;
}
.work-top-icons {
  @apply flex gap-44;
}
.work-bottom-icons {
  @apply flex gap-[120px];
  padding-top: 86px;
  margin-left: 150px;
}
.work-text {
  font-family: Priego-Semibold;
  text-align: center;
  font-size: 1.5rem;
  line-height: 29px;
}
.icon1 {
  @apply flex flex-col justify-between;
  max-width: 200px;
  .img {
    @apply mx-auto w-max;
  }
}
.icon3 {
  @apply flex flex-col justify-between;
  max-width: 230px;
  .img {
    @apply mx-auto w-max;
  }
}
.icon5 {
  @apply flex flex-col justify-between;
  max-width: 200px;
  .img {
    @apply mx-auto w-max;
  }
}
.icon2 {
  @apply flex flex-col justify-between;
  max-width: 210px;
  .img {
    @apply mx-auto w-max;
  }
}
.icon4 {
  @apply flex flex-col justify-between;
  max-width: 270px;
  .img {
    @apply mx-auto w-max;
  }
}
.icon6 {
  @apply flex flex-col justify-between;
  max-width: 250px;
  .img {
    @apply mx-auto w-max;
  }
}

.outer-border {
  @apply rounded-full flex;
  outline: 2px solid #ffc555;
  height: 42px;
  width: 42px;
}
.num {
  @apply rounded-full bg-primary text-center flex justify-center items-center m-auto;
  font-family: Outfit-Semibold;
  font-size: 20px;
  line-height: 24px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}

// how it woks ends

@media (max-width: 1399px) {
  .left-hero-heading {
    font-size: 36px;
  }
  .call-num {
    font-size: 22px;
  }
  .call-text {
    font-size: 16px;
  }
  .dreams-heading {
    font-size: 36px;
    line-height: 1.2;
  }
  .enquire-heading {
    font-size: 36px;
    line-height: 46px;
  }
  .air {
    h1 {
      font-size: 36px;
    }
  }

  .sea h1 {
    font-size: 36px;
  }
}

@media (max-width: 1199px) {
  .left-hero-heading {
    font-size: 32px;
    line-height: 1.2;
  }
  .dreams-heading {
    font-size: 32px;
  }
  .card-heading {
    font-size: 20px;
  }
  .enquire-heading {
    font-size: 32px;
  }
  .air {
    h1 {
      font-size: 32px;
    }
    .service {
      font-size: 1rem;
      padding: 6px 0 6px 0;
    }
    .description {
      @apply pb-6;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .sea {
    h1 {
      font-size: 32px;
    }
    .service {
      font-size: 1rem;
      padding: 6px 0 6px 0;
    }
    .description {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width: 992px) {
  .left-hero {
    @apply col-span-12;
  }
  .right-hero {
    @apply col-span-12;
  }
  .call-icon {
    right: 0;
  }
  .callbar {
    @apply rounded-r-[7.5rem] pl-8;
  }
  .card-number {
    font-size: 28px;
  }
  .cards {
    flex: 0 0 max(50% - 16px, 270px);
  }
  .enquire-heading {
    font-size: 28px;
    line-height: 46px;
  }
  .enquire-left {
    @apply col-span-12 text-center;
  }
  .enquire-right {
    @apply col-span-12 pl-0 pt-10  text-center;
  }
  .air h1 {
    font-size: 28px;
  }
  .sea h1 {
    font-size: 28px;
  }
  .shipping {
    @apply flex flex-col;
  }
}

@media (max-width: 768px) {
  .left-hero-heading {
    font-size: 28px;
  }
  .call-num {
    font-size: 18px;
  }
  .dreams-heading {
    font-size: 28px;
  }
  .dreams-left {
    @apply col-span-12 p-6;
  }
  .dreams-right {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 350px;
  }
  .choice-wrapper {
    @apply p-6;
  }
  .card-heading {
    font-size: 18px;
  }
  .cards {
    flex: 0 0 max(100%);
  }
  .enquire-heading {
    font-size: 24px;
  }
  .enquire-wrapper {
    @apply p-6;
  }
  .enquire-btn {
    @apply py-4;
  }
  .shipping {
    .right {
      @apply p-0;
    }
  }
  .connect-wrapper {
    @apply p-6;
  }
  .air h1 {
    font-size: 24px;
  }
  .sea h1 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .left-hero-heading {
    font-size: 24px;
  }
  .left-bg {
    @apply p-6;
  }
  .callbar {
    @apply py-4;
  }
  .call-num {
    font-size: 18px;
  }
  .call-text {
    font-size: 14px;
  }
  .call-icon {
    width: 90px;
  }
  .dreams-heading {
    font-size: 24px;
  }
  .enquire-heading {
    font-size: 20px;
    line-height: 26px;
  }
  .air h1 {
    font-size: 20px;
  }
  .sea h1 {
    font-size: 20px;
  }
}
